Repository alec-glisman/OpenADMET-ExpansionRx-Blind-Challenge: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, pylint, mypy

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system

flake8:
  name: flake8
  entry: flake8 src tests
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --fail-under=9.0

mypy:
  name: mypy
  entry: mypy
  language: system

refactor(config): update ensemble curriculum configuration for improved model performance
  configs/curriculum/ensemble_curriculum.yaml
Due: none

feat: enhance VSCode settings with additional color customizations
  .vscode/settings.json
Due: none

feat: add custom color settings for improved VSCode UI experience
  .vscode/settings.json
Due: none

Enhance logging and metrics handling in Chemprop model
  .copilot-tracking/changes/20251216-sampler-harmonization-changes.md
  None/0/meta.yaml
  configs/curriculum/chemprop_curriculum.yaml
  configs/curriculum/ensemble_curriculum.yaml
  docs/guide/curriculum.rst
  docs/guide/debugging_per_quality_metrics.md
  scripts/analysis/debug_per_quality_metrics.py
  scripts/data/utils.py
  src/admet/cli/data.py
  src/admet/data/split.py
  src/admet/model/__init__.py
  src/admet/model/chemprop/curriculum.py
  src/admet/model/chemprop/ensemble.py
  src/admet/model/chemprop/hpo.py
  src/admet/model/chemprop/joint_sampler.py
  src/admet/model/chemprop/model.py
  src/admet/util/logging.py
  tests/test_curriculum_callback.py
  tests/test_curriculum_extended.py
  tests/test_curriculum_fixes.py
  tests/test_curriculum_state.py
Due: black, isort, flake8, pylint, mypy

Refactor agent documentation and enhance VSCode settings
  .github/agents/api-architect.agent.md
  .github/agents/code-tour.agent.md
  .github/agents/critical-thinking.agent.md
  .github/agents/debug.agent.md
  .github/agents/gpt-5-beast-mode.agent.md
  .github/agents/implementation-plan.agent.md
  .github/agents/janitor.agent.md
  .github/agents/microsoft-study-mode.agent.md
  .github/agents/technical-content-evaluator.agent.md
  .github/instructions/self-explanatory-code-commenting.instructions.md
  .github/instructions/shell.instructions.md
  .vscode/settings.json
  None/0/meta.yaml
Due: none

refactor(config): increase max_epochs to 400 for improved training duration
  configs/curriculum/chemprop_curriculum.yaml
Due: none

docs(readme,contributing): streamline docs and update architecture/curriculum diagrams
  .vscode/settings.json
  CONTRIBUTING.md
  INSTALLATION.md
  README.md
Due: none

Enhance Dynamic Curriculum Sampler with Count Normalization and Update Phase Weights
  .github/agents/api-architect.agent.md
  .github/instructions/self-explanatory-code-commenting.instructions.md
  .github/instructions/shell.instructions.md
  .pre-commit-config.yaml
  .vscode/settings.json
  MODEL_CARD.md
  README.md
  configs/curriculum/chemprop_curriculum.yaml
  configs/curriculum/ensemble_curriculum.yaml
  docs/guide/config_reference.rst
  docs/guide/curriculum.rst
  docs/guide/modeling.rst
  docs/planning/curriculum_learning_integration.md
  src/admet/model/chemprop/config.py
  src/admet/model/chemprop/curriculum.py
  src/admet/model/chemprop/curriculum_sampler.py
  src/admet/model/chemprop/model.py
  tests/test_curriculum.py
  tests/test_curriculum_callback.py
  tests/test_curriculum_extended.py
  tests/test_curriculum_fixes.py
  tests/test_curriculum_state.py
Due: black, isort, flake8, pylint, mypy

feat(curriculum): enhance sampling and logging for improved reproducibility
  configs/4-more-models/ensemble_chemprop_hpo_001.yaml
  src/admet/model/chemprop/curriculum.py
  src/admet/model/chemprop/curriculum_sampler.py
  src/admet/model/chemprop/ensemble.py
  src/admet/model/chemprop/hpo.py
  src/admet/model/chemprop/hpo_trainable.py
  src/admet/model/chemprop/joint_sampler.py
  src/admet/model/chemprop/model.py
  tests/test_curriculum_fixes.py
  tests/test_determinism.py
  tests/test_log_evaluation_metrics.py
Due: black, isort, flake8, pylint, mypy

feat: Implement configuration harmonization plan for multi-model support
  .copilot-tracking/details/20251223-config-harmonization-details.md
  .copilot-tracking/plans/20251223-config-harmonization-plan.instructions.md
  .copilot-tracking/prompts/implement-config-harmonization.prompt.md
  .copilot-tracking/research/20251223-config-harmonization-research.md
  .copilot-tracking/research/config-harmonization-plan.md
Due: none

feat: Add quick commit diff analyzer and investigation script for ensemble regression bug. Updated ensemble to have its own proper config
  .claude/ensemble_bug/QUICK_START.md
  .claude/ensemble_bug/REGRESSION_BUG_FIX_PLAN.md
  .claude/ensemble_bug/analyze_commit_diff.sh
  .claude/ensemble_bug/ensemble_diff.patch
  .claude/ensemble_bug/investigate_ensemble_bug.py
  .vscode/settings.json
  src/admet/model/chemprop/ensemble.py
Due: black, isort, flake8, pylint, mypy

fix: Ensure reproducibility by seeding random number generators in ensemble and HPO training processes
  .claude/ensemble_bug/QUICK_START.md
  .claude/ensemble_bug/REGRESSION_BUG_FIX_PLAN.md
  .claude/ensemble_bug/analyze_commit_diff.sh
  .claude/ensemble_bug/ensemble_diff.patch
  .claude/ensemble_bug/investigate_ensemble_bug.py
  src/admet/model/chemprop/ensemble.py
  src/admet/model/chemprop/hpo_trainable.py
  src/admet/model/chemprop/model.py
Due: black, isort, flake8, pylint, mypy

feat: Log full ensemble configuration as YAML artifact in MLflow
  src/admet/model/chemprop/ensemble.py
  src/admet/model/chemprop/model.py
Due: black, isort, flake8, pylint, mypy

feat/fix: Implement two-stage sampling in JointSampler and add comprehensive tests for behavior consistency with original TaskAwareSampler
  src/admet/model/chemprop/joint_sampler.py
  tests/test_joint_sampler.py
Due: black, isort, flake8, pylint, mypy

fix: Update default seed value in OptimizationConfig tests for consistency
  tests/test_chemprop_config.py
Due: black, isort, flake8

feat: Add PRD Chat Mode agent for generating comprehensive Product Requirements Documents
  .github/agents/prd.agent.md
Due: none

feat: Implement ChempropModelAdapter for unified model interface
  src/admet/model/chemprop/adapter.py
  tests/test_cli_model.py
Due: black, isort, flake8, pylint, mypy

docs: Implement Joint Sampling for unified task-aware oversampling and curriculum learning
  MODEL_CARD.md
  README.md
  docs/guide/architecture.rst
  docs/guide/cli.rst
  docs/guide/config_reference.rst
  docs/guide/configuration.rst
  docs/guide/curriculum.rst
  docs/guide/leaderboard.rst
  docs/guide/modeling.rst
  docs/planning/curriculum_learning_integration.md
  scripts/README.md
  scripts/training/generate_ensemble_configs.py
  src/admet/model/chemprop/config.py
  tests/conftest.py
Due: black, isort, flake8, pylint, mypy

Add CheMeleon hyperparameter optimization configuration and FFN factory
  .copilot-tracking/details/20251226-chemeleon-ffn-integration-details.md
  .copilot-tracking/plans/20251226-chemeleon-ffn-integration-plan.instructions.md
  .copilot-tracking/prompts/implement-chemeleon-ffn-integration.prompt.md
  .copilot-tracking/research/20251226-chemeleon-ffn-integration-plan.md
  .github/agents/task-planner.agent.md
  .github/agents/task-researcher.agent.md
  MODEL_CARD.md
  README.md
  configs/0-experiment/chemeleon.yaml
  configs/1-hpo-single/hpo_chemeleon.yaml
  docs/guide/modeling.rst
  src/admet/model/chemeleon/hpo.py
  src/admet/model/chemeleon/hpo_config.py
  src/admet/model/chemeleon/hpo_search_space.py
  src/admet/model/chemeleon/model.py
  src/admet/model/chemprop/model.py
  src/admet/model/config.py
  src/admet/model/ffn_factory.py
  tests/test_chemeleon_model.py
  tests/test_ffn_factory.py
Due: black, isort, flake8, pylint, mypy

feat: Enhance CheMeleon HPO configuration with expanded search space and joint sampling options
  configs/1-hpo-single/hpo_chemeleon.yaml
Due: none

Enhance unified configuration schema with comprehensive model support
  .copilot-tracking/changes/20251226-config-harmonization-changes.md
  .copilot-tracking/details/20251223-config-harmonization-details.md
  .copilot-tracking/details/20251226-config-harmonization-details.md
  .copilot-tracking/plans/20251223-config-harmonization-plan.instructions.md
  .copilot-tracking/plans/20251226-config-harmonization-plan.instructions.md
  .copilot-tracking/prompts/implement-config-harmonization.prompt.md
  .copilot-tracking/research/20251223-config-harmonization-research.md
  .copilot-tracking/research/20251226-config-harmonization-update-research.md
  .copilot-tracking/research/config-harmonization-plan.md
  README.md
  configs/curriculum/chemprop_curriculum.yaml
  docs/guide/config_reference.rst
  docs/guide/configuration.rst
  docs/guide/task_affinity.rst
  src/admet/model/chemeleon/model.py
  src/admet/model/chemprop/config.py
  src/admet/model/config.py
  tests/test_unified_config.py
Due: black, isort, flake8, pylint, mypy

refactor(configs): reduce max_parallel from 5 to 2 in multiple HPO ensemble configurations
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_003.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_007.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_011.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_012.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_013.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_014.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_015.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_016.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_022.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_025.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_027.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_031.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_034.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_035.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_039.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_041.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_054.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_055.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_059.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_063.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_064.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_067.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_069.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_072.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_074.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_078.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_082.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_083.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_086.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_087.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_090.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_091.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_093.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_095.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_100.yaml
Due: none

feat(logging): enhance MLflow logging with comprehensive model and ensemble configuration details
  src/admet/model/chemprop/ensemble.py
  src/admet/model/chemprop/model.py
Due: black, isort, flake8, pylint, mypy

refactor(configs): reduce max_parallel from 5 to 3 in multiple HPO ensemble configurations
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_005.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_006.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_010.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_023.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_024.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_026.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_029.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_030.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_032.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_036.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_047.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_048.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_049.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_051.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_052.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_053.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_060.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_062.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_065.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_075.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_076.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_088.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_098.yaml
  configs/2-hpo-ensemble/ensemble_chemprop_hpo_099.yaml
Due: none

feat(cleanup): add scripts for MLflow artifact cleanup and storage management
  scripts/analysis/mlflow_cleanup.py
  scripts/analysis/mlflow_experiment_info.py
  scripts/infra/cleanup_storage.py
  src/admet/model/classical/base.py
  src/admet/model/config.py
  src/admet/model/ensemble.py
Due: black, isort, flake8, pylint, mypy

perf(hpo): disable MLflow artifact saving during HPO to prevent performance bottleneck
  .gitignore
  configs/1-hpo-single/hpo_chemeleon.yaml
  pyproject.toml
  src/admet/model/chemeleon/__init__.py
  src/admet/model/chemeleon/hpo.py
  src/admet/model/chemeleon/hpo_search_space.py
  src/admet/model/chemeleon/model.py
  src/admet/model/chemprop/hpo.py
  src/admet/model/chemprop/hpo_trainable.py
  uv.lock
Due: black, isort, flake8, pylint, mypy

docs: add CLAUDE.md for project guidance and setup instructions
  CLAUDE.md
Due: none

feat(mlflow): enhance MLflow server startup with virtual environment detection and error handling
  scripts/infra/setup_mlflow_postgres.sh
Due: none

feat: Add task affinity configurations and enhance inter-task affinity analysis
  .github/copilot-instructions.md
  TASK_AFFINITY_ANALYSIS.md
  configs/task-affinity/archive/chemprop_tag.yaml
  configs/task-affinity/archive/chemprop_task_affinity_advanced.yaml
  configs/task-affinity/archive/chemprop_task_affinity_explore.yaml
  configs/task-affinity/archive/ensemble_chemprop_tag.yaml
  configs/task-affinity/archive/task_affinity_compute.yaml
  configs/task-affinity/chemprop_single_hpo_task_affinity_groups.yaml
  src/admet/model/chemprop/inter_task_affinity.py
  src/admet/model/chemprop/model.py
  tests/test_chemprop_config.py
Due: black, isort, flake8, pylint, mypy

feat(hpo): add robust MLflow callback with complete metric backfilling for ASHA trials
  configs/1-hpo-single/hpo_chemeleon.yaml
  configs/1-hpo-single/hpo_chemprop.yaml
  src/admet/model/chemeleon/hpo.py
  src/admet/model/chemprop/hpo.py
  src/admet/model/chemprop/hpo_config.py
  src/admet/model/chemprop/hpo_search_space.py
  src/admet/model/chemprop/hpo_trainable.py
  src/admet/model/chemprop/inter_task_affinity.py
  src/admet/model/hpo_mlflow_callback.py
  tests/test_chemeleon_hpo_search_space.py
  tests/test_hpo_mlflow_backfill.py
Due: black, isort, flake8, pylint, mypy

feat(dependencies): update dev dependencies with specific version specifiers
  uv.lock
Due: none

Add Task Affinity Analysis documentation and remove obsolete merge plan
  .claude/MMoE/MMoE_TaskAffinity_Implementation_Plan.md
  .claude/MMoE/Multi_Task_Learning_Research_Analysis_MMoE_vs_SOTA.md
  .claude/task_affinity/TASK_AFFINITY_ANALYSIS.md
  MERGE_PLAN.md
Due: none

Path conditions:
  black: any of: \.py$ and not (^docs/) and not (^src/bitbirch/)
  isort: any of: \.py$ and not (^docs/) and not (^src/bitbirch/)
  flake8: any of: \.py$ and not (^(docs/|notebooks/)) and not (^src/bitbirch/)
  pylint: any of: \.py$ and not (^(docs/|notebooks/|tests/)) and not (^src/bitbirch/)
  mypy: any of: \.py$ and not (^(docs/|notebooks/|tests/|archive/|src/bitbirch/)) and not (^src/bitbirch/)
